name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: markdownlint-cli2
        uses: DavidAnson/markdownlint-cli2-action@v17
        with:
          globs: |
            **/*.md
        env:
          NODE_OPTIONS: --max_old_space_size=4096

  link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: lychee link check
        uses: lycheeverse/lychee-action@v1.10.0
        with:
          args: >-
            --config .lychee.toml
            --no-progress
            --exclude-mail
            --verbose
            **/*.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
